@media (max-width: 576px) {
	.our_pricing .col-12 {
		flex: 0 0 76%;
		max-width: 100%;
		margin-bottom: 10px;
	}
	.offset{
		margin-left: 12.33333333%;
	}
}

@media (min-width: 768px) {
	.our_pricing .col-md-3 {
		flex: 0 0 41%;
		max-width: 41%;
	}
}

@media (min-width: 992px) {
	.our_pricing .col-lg-4 {
		flex: 0 0 30%;
		max-width: 33.333333%;
	}
}

@media screen and (min-width: 1200px) {
	.our_pricing .col-xl-4 {
		flex: 0 0 27%;
	}
}